/* FONT  font-family: 'Raleway', sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

body, html,* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    color: antiquewhite;
    /* background: linear-gradient(45deg, #513f28, #404c26); */
    background:#8E897E ;
   
}

.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

p, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
}

.main>.main_imag {
    margin: 20px 0;
}

.main>.main_foto1 {
    margin-top: 200px;
}

.main>.main_imag>img {
    border-radius: 15px;
    max-width: 100%;
    margin: 20px 0;
    box-shadow: rgb(34, 31, 28) 0px 5px 5px 5px;

}
.form-group label {
    color: black;
}
.ban{
    position: relative; 
}
.inner-banner{
    position: absolute;
    left: 30%;
    top: 40%;
    animation: ease 2s moveText;
}
@keyframes moveText {
    from {
        opacity: 0;
        left: -10%;
    }
    to {
        opacity: 1;
    }
}
